* {
  box-sizing: border-box;
}

body {
  max-width: 1600px;
}

.site-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 2005px;
  width: 12.5%;
  color: #FFFFFF;
  background-color: #780006;
  font-size: 20px;
}

.site-nav section {
  padding-top: 25px;
}

.site-nav article {
  width: 100%;
}

h5 {
  margin-left: 10%;
  color: #808080; 
  font-size: 18px; 
}

.site-nav li {
  padding: 9px 0 0 10%;
  margin: 13px 0;
  height: 40px;
  font-size: 16px;
}

.site-nav li:hover {
  border-left: 3px solid #BE333A;
  background-color: #9A161D;
  color: #808080;
}

.user-profile {
  border-bottom: 1px solid #000000;
  height: 200px;
  width: 100%;
}

.user-profile i {
  margin-left: 2%;
}

.user-profile article {
  margin: auto;
  height: 160px;
  width: 80%;
}

.user-profile div {
  margin: 5px auto;
  height: 100px;
  width: 100px;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-profile h2 {
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}

.user-profile h2:hover {
  color: #000000;
}

.main-nav {
  border-bottom: 1px solid #000000;
  height: 325px;
  width: 100%;
}

.main-nav article {
  height: 295px;
}

.admin {
  border-bottom: 1px solid #000000;
  height: 325px;
  width: 100%;
}

.admin article {
  height: 295px;
}

.categories {
  height: 300px;
  width: 100%;
}

.categories article {
  height: 270px;
}

.categories div {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  vertical-align: top;
}

.colorado div {
  background-color: #ff0000;
}

.colorado div:hover {
  background-color: #8b0000;
}

.utah div {
  background-color: #0000ff;
}

.utah div:hover {
  background-color: #00008b;
}

.new-mexico div {
  background-color: #008000;
}

.new-mexico div:hover {
  background-color: #006400;
}

.arizona div {
  background-color: #ffa500;
}

.arizona div:hover {
  background-color: #ff8c00;
}

.checkmark {
  height: 25px;
  width: 25px;
  background-color: #FFFFFF;
}

.checkmark:after {
  position: absolute;
  display: none;
  content: "";
}

.categories input:checked ~ .checkmark:after {
  display: block;
}

.categories .checkmark:after {
  top: 0px;
  left: 7px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  height: 10px;
  width: 5px;
  -webkit-transform: rotate(45deg);
}

.categories input {
  height: 20px;
  width: 20px;
  opacity: 0;
}

.main-nav i,
.admin i {
  width: 25px;
}

header {
  position: absolute;
  top: 0;
  left: 12.7%;
  border-bottom: 2px solid #d3d3d3;
  height: 80px;
  width: 87.5%;
}

header button {
  padding: 0;
  border-style: none; 
  border-right: 1px solid #d3d3d3;
  border-radius: 0;
  margin: 0 -2px;
  height: 78px;
  width: 8%;
  vertical-align: top;
  color: #d3d3d3;
  font-size: 36px;
}

.menu {
  background-image: url('../icons/left-arrow.svg');
  background-position: 24% 50%;
  background-repeat: no-repeat;
  background-size: 12px;
}

.menu:hover {
  background-image: url('../icons/left-arrow2.svg');
}

header button:hover {
  background-color: #BD333A;
  color: #FFFFFF;
}

header input {
  padding-left: 44px;
  border: none;
  border-right: 1px solid #d3d3d3;
  margin: 0 -2px;
  height: 78px;
  width: 68%;
  vertical-align: top;
  background-image: url('../icons/magnifying-glass.svg');
  background-position: 10px 31px;
  background-repeat: no-repeat;
  background-size: 25px;
  font-size: 22px;
}

main {
  position: absolute;
  top: 80px;
  left: 12.5%;
  height: 1920px;
  width: 87.5%;
}

.page-nav {
  padding-top: 60px;
  height: 240px;
  width: 100%;
}

.page-nav div {
  margin: auto;
  height: 182px;
  width: 90%;
}

.page-nav-header {
  display: inline-block;
  margin: 6px 0 16px 0;
  height: 100px;
  width: 40%;
}

h1 { 
  margin-bottom: 10px;
  font-size: 28px;
}

.page-nav-header p {
  display: inline-block;
  margin-right: 20px;
}

.page-nav-header ul {
  display: inline-block;
  color: #0000ff;
  list-style: disc;
}

.page-nav-header ul:hover {
  color: #780006;
}

.page-nav-edit {
  float: right;
  display: inline-block;
  margin: 12px 0 10px 0;
  height: 80px;
  width: 33.6%;
  vertical-align: top;
}

.page-nav-edit li {
  display: inline;
}

.page-nav-edit button {
  border-radius: 50%;
  margin-left: 14px;
  height: 55px;
  width: 14%;
  vertical-align: top;
  background-color: transparent;
  color: #d3d3d3;
  font-size: 18px;
}

.page-nav-edit button:hover {
  background-color: #BD333A;
  color: #FFFFFF;
}

#open {
  border-radius: 25px;
  width: 37%;
  vertical-align: top;
  font-size: 24px;
}

#open div ,
td div{
  display: inline-block;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: #7fff00;
}

td div {
  margin-right: 2%;
}

#open div{
  margin: 0 7% 2% 0;
  background-color: #7fff00;
}

.cycle-page-nav {
  height: 43px;
}

.cycle-page-nav ul {
  height: 43px;
}

.cycle-page-nav li{
  display: inline;
  padding-bottom: 29px;
  margin-right: 28px;
  box-sizing: content-box;
  color: #984339;
  font-size: 22px;
}

.summary {
  color: #2D0002 !important;
  border-bottom: 4px solid #780006;   
}

.cycle-page-nav li:hover {
  border-bottom: 4px solid #780006; 
  color: #2D0002;
}

.page-body {
  padding-top: 60px;
  height: 1685px;
  width: 100%;
  background-color: #d3d3d3;
}

.page-body article {
  display: inline-block;
}

.data-display {
  margin-left: 5%;
  height: 340px;
  width: 90%;
}

.donut-figure,
.bar-graph {
  display: inline-block;
  height: 328px;
  width: 47.5%;
}

.donut-figure {
  float: left;
  margin-right: 4.6%;
}

.donut-figure figure,
.bar-graph figure {
  height: 200px;
  width: 100%;
}

.donut-figure figcaption,
.bar-graph figcaption {
  padding: 4%;
  border: 2px solid #1D1D1D;
  border-radius: 30px;
  margin: 2% auto;
  height: 60px;
  width: 50%;
  background-color: #FFFFFF;
  font-size: 16px;
  text-align: center;
}

.donut-figure figcaption{
  margin-top: 7%;
}

.donut-title{
  font-size: 3px;
  text-anchor: middle;
  transform: translateY(2px);
}

.donut-title2 {
  font-size: 3px;
  text-anchor: middle;
  transform: translateY(2px);
}

.donut-data {
  font-size: 10px;
  text-anchor: middle;
  transform: translateY(-2px);
}

#bar-graph {
  position: relative;
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: #000000;
  margin:  20px auto;
  height: 160px;
  width: 90%;
  background-color: #d3d3d3;
}

.bar {
  position: relative;
  display: inline-block;
  margin: 0 0 0 1px;
  height: 60px; 
  width: 7.1%;
  vertical-align: bottom;
  background-color: #1E2B00;
} 

.bar:first-child {
  margin: 0;
  height: 100%;
  width: 0;
}

.bar-one {
  height: 16px;
}

.bar-two {
  height: 13px; 
}

.bar-three {
  height: 32px;
}

.bar-four {
  height: 51px;
}

.bar-five {
  height: 90px; 
}

.bar-six {
  height: 142px;
}

.bar-seven {
  height: 154px;
}

.bar-eight {
  height: 147px;
}

.bar-nine {
  height: 134px; 
}

.bar-ten {
  height: 115px;
}

.bar-eleven {
  height: 38px;
}

.bar-twelve {
  height: 19px;
}
#bar-graph::before {
  position: absolute;
  top: 71px;
  left: -33px;
  content: attr(data-y-label);
  transform: rotate(-90deg);
}

#bar-graph::after {
  position: absolute;
  bottom: -18px;
  left: 41%;
  content: attr(data-x-label);
}

[data-tooltip] {
  position: relative;
  display: inline-block;
  padding: 4px;
}

[data-tooltip]::before {
  position: absolute;
  display: none;
  padding: 8px 8px;
  border-radius: 4px;
  width: 120px;
  background-color: #000000;
  color: #FFFFFF;
  content: attr(data-tooltip);
  text-align: center;
}

[data-tooltip-position="top"]::before {
  bottom: 110%;
  left: -120%
}

[data-tooltip]::after {
  position: absolute;
  display: none;
  border-color: transparent;
  border-style: solid;
  height: 0;
  width: 0;
  content: '';
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
  z-index: 10;
}

[data-tooltip-position="top"]::after {
    bottom: 110%;
    left: 40%;
    border-width: 6px 6px 0;
    border-right-color: #000000;
    transform: rotate(45deg);
}

hr {
  display: inline-block;
  width: 47%;
  border-color: #000000;
}

.border-button {
  padding: 5px;
  border-style: none;
  border: 1px solid #000000;
  border-radius: 50%;
  margin: 0 1%;
  width: 25px;
  vertical-align: top;
  background-color: transparent;
  font-size: 12px;
}

.border-button:focus {
  outline: 0;
}

.user-info {
  float: left;
  margin: 80px 3% 80px 5%;
  height: 1120px;
  width: 56%;
  background-color: #CFB49A;
}

table {
  margin: auto;
  width: 90%;
}

.user-info-header,
tr {
  height: 112px;
}

.user-info-header {
  padding: 7% 5%;
  background-color: #780006;
}

.user-info-header h3 {
  display: inline-block;
  margin-right: 4%;
  color: #FFFFFF;
  font-size: 18px;
}

.user-info-header button {
  border-style: none;
  height: 30px;
  width: 85px;
  font-size: 16px;
}

.user-info-header button:hover {
  background-color: #a72a30;
  color: #FFFFFF;
}

th{
  padding-top: 8%;
  margin: 0 5%;
  width: 34%;
  text-align: left;
}

tr {
  border-bottom: 2px solid #808080;
}

td {
  letter-spacing: 0.04em;
  line-height: 20px;
}

td img {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
}

td p {
  display: inline-block;
  padding-bottom: 10px;
  vertical-align: text-top;
}

.table-bottom {
  border-bottom: 0;
}

.description {
  height: 224px;
}

.more-content {
  margin: 80px 1% 80px 3%;
  display: inline-block;
  height: 1120px;
  width: 28%;
}

.social-media {
  border-bottom: 2px solid #000000;
  height: 600px;
  width: 100%;
}

.gpx {
  border-bottom: 2px solid #000000;
  height: 295px;
  width: 100%;
}

.social-media button {
  display: block;
  border-style: none;
  margin: 0 0 10px 0;
  height: 92px;
  width: 100%;
}

.facebook,
.twitter,
.instagram {
  color: #FFFFFF;
  font-size: 20px;
}

.facebook img,
.twitter img,
.instagram img {
  margin-right: 50px;
  height: 25px;
  width: 25px;
  vertical-align: text-bottom;
}

.facebook {
  background-color: #3F5899;
}

.facebook:hover {
  background-color: #2c416f;
}

.twitter {
  background-color: #55BDE1;
}

.twitter:hover {
  background-color: #3c8098;
}

.instagram {
  background: linear-gradient(to right, #594EC6, #F8D176)
}

.instagram:hover {
  background: linear-gradient(to right, #C63D85, #594EC6)
}

.link-trail h4,
.gpx h4,
.send-trail h4 {
  margin: 40px 0 20px 0;
  font-size: 26px;
}

h4 i {
  margin-right: 6px;
}

.link-trail p,
.gpx p,
.send-trail p {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
}

.link-trail input,
.gpx input {
  margin: 0 -2px 0 0;
  height: 80px;
  width: 74.5%;
}

.send-trail input {
  height: 80px;
  width: 100%;
}

.link-trail input::placeholder,
.gpx input::placeholder,
.send-trail input::placeholder {
  font-size: 18px;
}

.link-trail button,
.gpx button {
  display: inline;
  margin: 0 0 0 -2px;
  height: 80px;
  width: 25%;
  vertical-align: top;
  background-color: #BD333A;
  color: #3D3D3D;
  font-size: 16px;
}

.link-trail button:hover,
.gpx button:hover {
  background-color: #780006;
  color: #FFFFFF
}
@media screen and (min-width: 1800px) {
  .site-nav {
    height: 2105px;
  }

  .page-body {
    height: 1785px;
  }

  .user-info {
    height: 1300px;
  }

  .donut-figure, .bar-graph {
    height: 376px;
  }

  .link-trail {
    width: 100%;
  }

  .send-trail {
    width: 100%;
  }
}

@media screen and (max-width: 1243px) {
  .menu {
    background-position: 17% 50%;
  }  

  .page-nav-edit {
    width: 42%;
  }

  .cycle-page-nav li {
    margin-right: 19px;
  }

  .bar {
    width: 6.7%;
  }
}

@media screen and (max-width: 1150px) {
  .site-nav li {
    font-size: 14px;
  }
}

@media screen and (max-width: 1054px) {
  .user-profile div {
    height: 80px;
    width: 80px;
  }

  .profile-pic {
    height: 80px;
    width: 80px;
  }

  .user-profile h2 {
    font-size: 10px;
  }

  .site-nav li {
    font-size: 12px;
  }

  .page-nav {
    height: 231px;
  }

  .menu {
    background-position: 9% 50%;
  }  

  .page-nav-edit {
    width: 58%;
  }

  .cycle-page-nav li {
    font-size: 14px;
  }

  .bar {
    width: 6.2%;
  }

  hr {
    width: 45.5%;
  }
}

@media screen and (max-width: 940px) {
  .user-profile {
    height: 155px;
  }

  .user-profile h2 {
    font-size: 8px;
  }

  .site-nav li {
    margin: 1px 0;
    font-size: 11px;
  }

  .main-nav,
  .admin {
    height: 250px;
  }

  header {
    left: 12.8%;
  }

  .menu {
    background-position: 1% 50%;
  }  

  .facebook img,
  .twitter img, 
  .instagram img {
    margin-right: 14px;
  }
}

@media screen and (max-width: 833px) {
  .site-nav li {
    margin: 1px 0;
    font-size: 10px;
  }

  .main-nav i, 
  .admin i {
    width: 17px;
  }

  th {
    font-size: 13px;
  }

  td {
    font-size: 13px;
  }
}

@media screen and (max-width: 780px) {
  .user-profile div {
    height: 60px;
    width: 60px;
  }

  .profile-pic {
    height: 60px;
    width: 60px;
  }
  .cycle-page-nav li {
    font-size: 13px;
  }
  .bar {
    width: 5.8%;
  }

  .facebook, 
  .twitter, 
  .instagram {
    font-size: 18px;
  }
}

@media screen and (max-width: 724px) {
  .site-nav {
    height: 2031px;
  }

  header button {
    font-size: 28px;
  }
  .page-nav-header p{
    font-size: 11px;
  }

  .page-nav-header li{
    font-size: 11px;
  }

  .page-body {
    height: 1722px;
  }

  .page-nav-edit {
    width: 40%;
  }

  .page-nav-edit button {
    margin-left: 8px;
    height: 30px;
    width: 14%;
  }

  #open {
    width: 24%; 
    font-size: 12px;
  }

  .cycle-page-nav li {
    font-size: 10px;
  }

  .bar {
    width: 5.4%;
  }

  .user-info-header h3 {
    font-size: 16px;
  }

  .social-media {
    height: 625px;
  }

  .gpx {
    height: 340px;
  }
}

@media screen and (max-width: 614px) {
  #open {
    font-size: 8px;
  }

  .cycle-page-nav li {
    margin-right: 9px;
  }

  .donut-figure figcaption,
  .bar-graph figcaption {
    font-size: 13px;
  }

  hr {
    width: 45%;
  }

  .user-info {
    height: 848px;
  }

  .user-info-header,
  tr {
    height: 73px;
  }

  .user-info-header h3 {
    font-size: 12px;
  }

  .social-media {
    height: 480px;
  }

  .gpx {
    height: 193px;
  }

  .facebook, 
  .twitter, 
  .instagram {
    font-size: 14px;
  }

  .link-trail h4, 
  .gpx h4, 
  .send-trail h4 {
    margin-top: 8px;
    font-size: 18px;
  }

  .link-trail p, 
  .gpx p, 
  .send-trail p {
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 18px;
  }

  .link-trail input, 
  .gpx input {
    height: 50px;
    width: 60%;
  }

  .link-trail button, 
  .gpx button {
    height: 50px;
    width: 40%;
  }
}

@media screen and (max-width: 565px) {
  .site-nav {
    width: 30%;
    height: 2600px;
  }

  header,
  main {
    left: 30%;
    width: 70%;
  }

  header {
    left: 30.5%;
  }

  header button {
    font-size: 15px;
  }

  .menu {
    background-size: 6px;
  }

  .user-profile div {
    height: 80px;
    width: 80px;
  }

  .user-profile h2 {
    font-size: 14px;
  }

  .profile-pic {
    height: 80px;
    width: 80px;
  }

  .site-nav li {
    font-size: 16px;
  }

  .main-nav i, 
  .admin i {
    width: 25px;
  }

  .page-nav-header p{
    margin-left: 10px;
    font-size: 10px;
  }

  .page-nav-header li{
    margin-left: 25px;
    font-size: 10px;
  }

  .page-nav-edit {
    width: 59%;
  }

  .page-nav-edit button {
    height: 25px;
    width: 14%;
  }

  .cycle-page-nav li {
    font-size: 7px;
  }

  .page-body {
    height: 2288px;
  }

  .data-display {
    height: 680px;
  }

  .donut-figure {
    float: none;
  }

  .donut-figure,
  .bar-graph {
    display: block;
    width: 100%;
  }

  .bar {
    width: 6.1%;
  }

  hr {
    width: 43%
  }

  .user-info {
    margin: 40px 5%;
    height: 836px;
    width: 90%;
  }

  .user-info-header {
    padding: 3% 5%;
  }

  .user-info-header h3 {
    margin-right: 4%;
    font-size: 15px;
  }

  .user-info-header button {
    margin-top: 18px;
    height: 30px;
    width: 65px;
    font-size: 16px;
  }

  .description {
    height: 215px;
  }

  th {
    width: 41%;
    font-size: 16px;
  }

  td {
    padding-left: 5%;
    font-size: 12px;
    line-height: 16px;
  }

  .more-content {
    display: inline-block;
    margin: 40px 0 0 5%;
    height: 587px;
    width: 90%;
  }

  .more-content input {
    height: 40px;
    width: 74%;
  }

  .send-trail input {
    width: 100%;
  }

  .social-media {
    margin-right: 2%;
    width: 100%;
    height: 296px;
  }

  .link-trail {
    display: block;
    width: 100%;
    vertical-align: top;
  }

  .social-media 
  .link-trail button,
  .gpx button {
    height: 40px;
    width: 25.5%;
  }

  .link-trail h4,
  .gpx h4,
  .send-trail h4 {
    margin: 11px 0 8px 0;
    font-size: 21px;
  }

  .gpx h4,
  .send-trail h4 {
    margin-bottom: 14px;
  }

  .social-media-buttons {
    display: inline-block;
    margin-right: 2%;
    width: 100%;
  }

  .link-trail p,
  .gpx p,
  .send-trail p {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 24px;
  }

  .social-media button {
    height: 40px;
  }

  .gpx,
  .send-trail {
    margin-right: 2%;
    height: 152px;
    width: 100%;
    vertical-align: top;
  }
}

@media screen and (max-width: 450px) {
  .site-nav {
    top: 60px;
    height: 277px;
    width: 100%;
    z-index: 5;
  }

  .site-nav section {
    padding-top: 0px;
  }

  .user-profile {
    height: 183px;
  }

  .user-profile article {
    height: 190px;
  }

  .user-profile div {
    height: 137px;
    width: 150px;
  }

  .profile-pic {
    height: 137px;
    width: 150px;
  }

  .main-nav,
  .admin,
  .categories {
    display: inline-block;
    border-style: none;
    border-right: 2px solid #808080;
    margin-right: -6px;
    height: 89px;
    width: 33.5%;
    vertical-align: top;
  }

  .main-nav article,
  .admin article,
  .categories article {
    padding-top: 22%;
    height: 100px;
  }

.main-nav article ul,
  .admin article ul,
  .categories article ul {
    visibility: hidden;
  }

  h5 {
    text-align: center;
    font-size: 24px;
  }

.main-nav article:hover ul,
  .admin article:hover ul,
  .categories article:hover ul {
    visibility: visible;
    z-index: 3;
  }

  .main-nav:hover,
  .admin:hover,
  .categories:hover {
    height: 262px;
    z-index: 3;
    background-color: #780006;
    transition-duration: 0.5s;
  }

  header {
    left: 0;
    height: 60px;
    width: 100%;
  }

  header input {
    height: 60px;
    width: 50%;
    background-position: 13px 20px;
  }

  header input::placeholder {
    font-size: 16px;
  }

  .menu {
    background-position: 26% 50%;
  }

  header button {
    height: 60px;
    width: 12.6%;
  }

  main{
    top: 359px;
    left: 0;
    width: 100%;
  }

  .page-body {
    height: 2361px;
  }

  .page-nav {
    height: 300px;
  }

  .page-nav div {
    height: 329px;
  }

  .page-nav-header {
    margin: 6px 0 4px 0;
    height: 199px;
    width: 51%;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 48px;
  }

  .page-nav-header p{
    margin: 0 0 0 5px;
    font-size: 16px;
  }

  .page-nav-header li{
    margin-left: 23px;
    font-size: 16px;
  }

  .page-nav-edit {
    height: 100px;
    width: 47%;
  }

  .page-nav-edit button{
    margin-left: 2px;
    height: 20px;
    width: 15%;
    font-size: 10px;
  }

  #open {
    border-radius: 37px;
  }

  .cycle-page-nav li {
    padding-bottom: 12px;
    margin-right: 2px;
    font-size: 8px;
  }

  .data-display {
    height: 475px;
  }

  .donut-figure,
  .bar-graph {
    width: 100%;
  }

  .donut-figure {
    float: none;
    margin: 0;
    height: 216px;
  }

  .bar-graph {
    height: 247px;
  }

  .donut-figure figure,
  .bar-graph figure {
    height: 173px;
  }

  .donut-figure figcaption, 
  .bar-graph figcaption {
    height: 40px;
  }

  .donut-figure figcaption {
    margin-top: -7%;
  }

  #bar-graph {
    height: 156px;
  }

  #bar-graph::before {
    top: 75px;
    left: -27px;
    font-size: 13px;
  }

  #bar-graph::after {
    bottom: -18px;
    left: 108px;
    font-size: 13px;
  }

  .bar {
    width: 6.2%;
  }

  hr {
    width: 43%;
  }

  [data-tooltip]::before {
    padding: 8px 8px;
    border-radius: 4px;
    width: 150px;
    font-size: 32px;
  }

  [data-tooltip-position="top"]::before {
    left: -84%;
  }
  
  td img {
    height: 20px;
    width: 20px;
  }
}