* {
  box-sizing: border-box;
}

body {
  max-width: 1600px;
}

.site-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 2005px;
  width: 12.5%;
  color: #FFFFFF;
  font-size: 20px;
  background-color: #780006;
}

.site-nav section {
  padding-top: 25px;
}

.site-nav article {
  width: 100%;
}

h5 {
  margin-left: 10%;
  font-size: 18px; 
  color: gray; 
}

.site-nav li {
  padding-left: 10%;
  height: 40px;
  margin: 13px 0;
  padding-top: 9px;
  font-size: 1rem;
}

.site-nav li:hover {
  background-color: #9A161D;
  color: gray;
}

.user-profile {
  border-bottom: 1px solid black;
  height: 200px;
  width: 100%;
}

.user-profile i {
  margin-left: 2%;
}

.user-profile article {
  height: 160px;
  width: 80%;
  margin: auto;
}

.user-profile div {
  height: 100px;
  width: 100px;
  margin: 5px auto;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-profile h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
}

.user-profile h2:hover {
  color: #000000;
}

.main-nav {
  border-bottom: 1px solid black;
  height: 325px;
  width: 100%;
}

.main-nav article {
  height: 295px;
}

.admin {
  border-bottom: 1px solid black;
  height: 325px;
  width: 100%;
}

.admin article {
  height: 295px;
}

.categories {
  height: 300px;
  width: 100%;
}

.categories article {
  height: 270px;
}

.categories div {
  position: relative;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: top;
}

.one div {
  background-color: red;
}

.one div:hover {
  background-color: darkred;
}

.two div {
  background-color: blue;
}

.two div:hover {
  background-color: darkblue;
}

.three div {
  background-color: green;
}

.three div:hover {
  background-color: darkgreen;
}

.four div {
  background-color: orange;
}

.four div:hover {
  background-color: darkorange;
}

.checkmark {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.categories input:checked ~ .checkmark:after {
  display: block;
}

.categories .checkmark:after {
  top: 0px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.categories input {
  height: 20px;
  width: 20px;
  opacity: 0;
}

.main-nav i,
.admin i {
  width: 25px;
}

header {
  position: absolute;
  top: 0;
  left: 12.7%;
  height: 80px;
  width: 87.5%;
  border-bottom: 2px solid #d3d3d3;
}

header button {
  padding: 0;
  margin: 0 -2px;
  height: 78px;
  width: 8%;
  border-radius: 0;
  border-style: none; 
  border-right: 1px solid #d3d3d3;
  vertical-align: top;
  font-size: 36px;
  color: #d3d3d3;
}

.menu {
  background-image: url('../icons/left-arrow.svg');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 13px 33px;
}

.menu:hover {
  background-image: url('../icons/left-arrow2.svg');
}

header button:hover {
  background-color: #BD333A;
  color: #FFFFFF;
}

header input {
  margin: 0 -2px;
  vertical-align: top;
  height: 78px;
  width: 68%;
  font-size: 22px;
  border: none;
  border-right: 1px solid #d3d3d3;
  background-image: url('../icons/magnifying-glass.svg');
  background-size: 25px;
  background-position: 10px 31px;
  background-repeat: no-repeat;
  padding-left: 44px;
}

main {
  position: absolute;
  top: 80px;
  left: 12.5%;
  height: 1920px;
  width: 87.5%;
}

.page-nav {
  padding-top: 60px;
  height: 240px;
  width: 100%;
}

.page-nav div {
  height: 182px;
  width: 90%;
  margin: auto;
}

.page-nav-header {
  display: inline-block;
  height: 100px;
  width: 40%;
  margin: 6px 0 16px 0;
}

h1 { 
  font-size: 28px;
  margin-bottom: 10px;
}

.page-nav-header p {
  display: inline-block;
  margin-right: 20px;
}

.page-nav-header ul {
  display: inline-block;
  list-style: disc;
  color: blue;
}

.page-nav-header ul:hover {
  color: red;
}

.page-nav-edit {
  float: right;
  display: inline-block;
  margin: 12px 0 10px 0;
  vertical-align: top;
  width: 33.6%;
  height: 80px;
}

.page-nav-edit li {
  display: inline;
}

.page-nav-edit button {
  border-radius: 50%;
  margin-left: 14px;
  background-color: transparent;
  height: 55px;
  width: 14%;
  vertical-align: top;
  color: #d3d3d3;
  font-size: 18px;
}

.page-nav-edit button:hover {
  background-color: #BD333A;
  color: #FFFFFF;
}

#open {
  vertical-align: top;
  border-radius: 25px;
  width: 37%;
  font-size: 24px;
}

#open div ,
td div{
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: chartreuse;
  border-radius: 50%;
}

td div {
  margin-right: 2%;
}

#open div{
  background-color: chartreuse;
  margin: 0 7% 2% 0;
}

.cycle-page-nav {
  height: 43px;
}

.cycle-page-nav ul {
  height: 43px;
}

.cycle-page-nav li{
  display: inline;
  box-sizing: content-box;
  margin-right: 28px;
  padding-bottom: 29px;
  font-size: 1.4rem;
  color: #984339;
}

.summary {
  color: #2D0002 !important;
  border-bottom: 4px solid #780006;   
}

[tooltip]::before {
  content: '';
  visibility: hidden;
  position: absolute;
  border-radius: 50px;
  bottom: 91%;
  left: 70%;
  height: 200px;
  width: 300px;
  z-index: 10;
  background-image: url('../images/snek.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

[tooltip]:hover::before {
  visibility: visible;
}

.cycle-page-nav li:hover {
  color: #2D0002;
  border-bottom: 4px solid #780006; 
}

.page-body {
  padding-top: 60px;
  height: 1685px;
  width: 100%;
  background-color: #d3d3d3;
}

.page-body article {
  display: inline-block;
}

.data-display {
  height: 340px;
  width: 90%;
  margin-left: 5%;
}

.donut-figure,
.bar-graph {
  display: inline-block;
  height: 328px;
  width: 47.5%;
}

hr {
  display: inline-block;
  width: 47%;
  border-color: black;
}

.border-button {
  vertical-align: top;
  border-style: none;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
  font-size: 12px;
  margin: 0 1%;
  padding: 5px;
  width: 25px;
}

.border-button:focus {
  outline: 0;
}

.donut-figure {
  float: left;
  margin-right: 4.6%;
}

.donut-figure figure,
.bar-graph figure {
  height: 200px;
  width: 100%;
}

.donut-figure figcaption,
.bar-graph figcaption {
  height: 60px;
  width: 50%;
  border: 2px solid #1D1D1D;
  border-radius: 30px;
  background-color: #FFFFFF;
  margin: 2% auto;
  text-align: center;
  font-size: 1rem;
  padding: 4%
}

.donut-figure figcaption{
  margin-top: 7%;
}

.donut-title{
  transform: translateY(2px);
  font-size: 3px;
  text-anchor: middle;
}

.donut-title2 {
  font-size: 20%;
  transform: translateY(2px);
  text-anchor: middle;
}

.donut-data {
  transform: translateY(-2px);
  font-size: 10px;
  text-anchor: middle;
}

#bar-graph {
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: black;
  height: 160px;
  width: 90%;
  margin:  20px auto;
  background-color: #d3d3d3;
  position: relative;
}

.bar {
  display: inline-block;
  margin: 0 0 0 1px;
  height: 60px; 
  width: 7.1%;
  background-color: #1E2B00;
  vertical-align: bottom;
  position: relative;
} 

.bar:first-child {
  height: 100%;
  width: 0;
  margin: 0;
}

.bar-one {
  height: 16px;
}

.bar-two {
  height: 13px; 
}

.bar-three {
  height: 32px;
}

.bar-four {
  height: 51px;
}

.bar-five {
  height: 90px; 
}

.bar-six {
  height: 142px;
}

.bar-seven {
  height: 154px;
}

.bar-eight {
  height: 147px;
}

.bar-nine {
  height: 134px; 
}

.bar-ten {
  height: 115px;
}

.bar-eleven {
  height: 38px;
}

.bar-twelve {
  height: 19px;
}
#bar-graph::before {
  content: attr(data-y-label);
  position: absolute;
  top: 71px;
  left: -33px;
  transform: rotate(-90deg);
}

#bar-graph::after {
  content: attr(data-x-label);
  position: absolute;
  bottom: -18px;
  left: 41%;
}

[data-tooltip] {
  display: inline-block;
  position: relative;
  padding: 4px;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
  width: 120px;
  padding: 8px 8px;
}

[data-tooltip-position="top"]::before {
  bottom: 110%;
  left: -120%
}

[data-tooltip]::after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
  z-index: 10;
}

[data-tooltip-position="top"]::after {
    bottom: 110%;
    left: 40%;
    border-width: 6px 6px 0;
    border-right-color: black;
    transform: rotate(45deg);
}

.user-info {
  float: left;
  margin: 80px 3% 80px 5%;
  height: 1120px;
  width: 56%;
  background-color: #CFB49A;
}

table {
  width: 90%;
  margin: auto;
}

.user-info-header,
tr {
  height: 112px;
}

.user-info-header {
  padding: 7% 5%;
  background-color: #780006;
}

.user-info-header h3 {
  display: inline-block;
  margin-right: 4%;
  font-size: 18px;
  color: #FFFFFF;
}

.user-info-header button {
  height: 30px;
  width: 85px;
  font-size: 1rem;
  border-style: none;
}

.user-info-header button:hover {
  background-color: #a72a30;
  color: #FFFFFF;
}

th{
  padding-top: 8%;
  margin: 0 5%;
  width: 34%;
  text-align: left;
}

tr {
  border-bottom: 2px solid gray;
}

td {
  line-height: 20px;
  letter-spacing: 0.04em;
}

td img {
  height: 40px;
  width: 40px;
  vertical-align: bottom;
  margin-right: 10px;
}

td p {
  padding-bottom: 10px;
  display: inline-block;
  vertical-align: text-top;
}

.table-bottom {
  border-bottom: 0;
}

.description {
  height: 224px;
}

.more-content {
  margin: 80px 1% 80px 3%;
  display: inline-block;
  height: 1120px;
  width: 28%;
}

.social-media {
  height: 600px;
  width: 100%;
  border-bottom: 2px solid black;
}

.widget {
  height: 295px;
  width: 100%;
  border-bottom: 2px solid black;
}

.social-media button {
  display: block;
  height: 92px;
  width: 100%;
  margin: 0 0 10px 0;
  border-style: none;
}

.facebook,
.twitter,
.instagram {
  font-size: 20px;
  color: #FFFFFF;
}

.facebook img,
.twitter img,
.instagram img {
  margin-right: 50px;
  vertical-align: text-bottom;
  height: 25px;
  width: 25px;
}

.facebook {
  background-color: #3F5899;
}

.facebook:hover {
  background-color: #2c416f;
}

.twitter {
  background-color: #55BDE1;
}

.twitter:hover {
  background-color: #3c8098;
}

.instagram {
  background: linear-gradient(to right, #594EC6, #F8D176)
}

.instagram:hover {
  background: linear-gradient(to right, #C63D85, #594EC6)
}

.link-job h4,
.widget h4,
.resume h4 {
  font-size: 26px;
  margin: 40px 0 20px 0;
}

h4 i {
  margin-right: 6px;
}

.link-job p,
.widget p,
.resume p {
  font-size: 18px;
  margin-bottom: 11px;
  line-height: 24px;
}

.link-job input,
.widget input {
  height: 80px;
  width: 74.5%;
  margin: 0 -2px 0 0;
}

.resume input {
  height: 80px;
  width: 100%;
}

.link-job input::placeholder,
.widget input::placeholder,
.resume input::placeholder {
  font-size: 18px;
}

.link-job button,
.widget button {
  vertical-align: top;
  font-size: 16px;
  display: inline;
  height: 80px;
  width: 25%;
  margin: 0 0 0 -2px;
  background-color: #BD333A;
  color: #3D3D3D;
}

.link-job button:hover,
.widget button:hover {
  background-color: #780006;
  color: #FFFFFF
}

@media screen and (max-width: 1243px) {
  .page-nav-edit {
    width: 42%;
  }

  .bar {
    width: 6.7%;
  }
}

@media screen and (max-width: 1054px) {
  .user-profile div {
    height: 80px;
    width: 80px;
  }

  .profile-pic {
    height: 80px;
    width: 80px;
  }

  .page-nav {
    height: 231px;
  }

  .page-nav-edit {
    width: 58%;
  }

  .cycle-page-nav li {
    font-size: .9rem;
  }

  .bar {
    width: 6.2%;
  }

  hr {
    width: 45.5%;
  }
}

@media screen and (max-width: 780px) {
  .user-profile div {
    height: 60px;
    width: 60px;
  }

  .profile-pic {
    height: 60px;
    width: 60px;
  }
  .cycle-page-nav li {
    font-size: .8rem;
  }
  .bar {
    width: 5.8%;
  }
}

@media screen and (max-width: 724px) {
  .page-nav-header p{
    font-size: 0.7rem;
  }

  .page-nav-header li{
    font-size: 0.7rem;
  }

  .page-nav-edit {
    width: 35%;
  }

  .page-nav-edit button {
    margin-left: 8px;
    height: 30px;
    width: 14%;
  }

  #open {
    width: 24%; 
  }

  .cycle-page-nav li {
    font-size: .6rem;
  }

  .bar {
    width: 5.4%;
  }

  .social-media {
    height: 625px;
  }

  .widget {
    height: 340px;
  }
}

@media screen and (max-width: 614px) {
  .cycle-page-nav li {
    margin-right: 9px;
  }

  hr {
    width: 45%;
  }
}

@media screen and (max-width: 565px) {
  .site-nav {
    width: 30%;
  }

  header,
  main {
    width: 70%;
    left: 30%;
  }

  .user-profile div {
    height: 80px;
    width: 80px;
  }

  .profile-pic {
    height: 80px;
    width: 80px;
  }

  .page-nav-header p{
    font-size: 0.6rem;
    margin-left: 10px;
  }

  .page-nav-header li{
    font-size: 0.6rem;
    margin-left: 25px;
  }

  .page-nav-edit {
    width: 59%;
  }

  .page-nav-edit button {
    height: 25px;
    width: 14%;
  }

  .cycle-page-nav li {
    font-size: 7px;
  }

  .page-body {
    height: 2600px;
  }

  .data-display {
    height: 680px;
  }

  .donut-figure {
    float: none;
  }

  .donut-figure,
  .bar-graph {
    display: block;
    width: 100%;
  }

  .bar {
    width: 6.1%;
  }

  hr {
    width: 44%
  }

  .user-info {
    width: 90%;
    height: 1107px;
    margin: 40px 5%;
  }

  .user-info-header {
    padding: 3% 5%;
  }

  .user-info-header h3 {
    display: block;
    margin-right: 4%;
    font-size: 1.9rem;
  }

  .user-info-header button {
    height: 34px;
    width: 131px;
    font-size: 1.4rem;
    margin-top: 18px;
  }

  .description {
    height: 215px;
  }

  th {
    font-size: 1rem;
    width: 41%;
  }

  td {
    padding-left: 5%;
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .more-content {
    display: inline-block;
    height: 587px;
    width: 90%;
    margin: 40px 0 0 5%;
  }

  .more-content input {
    height: 40px;
  }

  .social-media {
    width: 100%;
    height: 296px;
    margin-right: 2%;
  }

  .link-job {
    width: 100%;
    display: block;
    vertical-align: top;
  }

  .social-media .link-job button,
  .widget button {
    height: 40px;
    width: 25.5%;
  }

  .link-job h4,
  .widget h4,
  .resume h4 {
    font-size: 1.3rem;
    margin: 11px 0 8px 0;
  }

  .widget h4,
  .resume h4 {
    margin-bottom: 14px;
  }

  .social-media-buttons {
    display: inline-block;
    width: 100%;
    margin-right: 2%;
  }

  .link-job p,
  .widget p,
  .resume p {
    margin-bottom: 7px;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .social-media button {
    height: 40px;
  }

  .widget,
  .resume {
    height: 152px;
    width: 100%;
    vertical-align: top;
    margin-right: 2%;
  }
}

@media screen and (max-width: 450px) {
  .site-nav {
    top: 60px;
    height: 277px;
    width: 100%;
    z-index: 5;
  }

  .site-nav section {
    padding-top: 0px;
  }

  .user-profile article {
    height: 190px;
  }

  .user-profile div {
    height: 137px;
    width: 150px;
  }

  .profile-pic {
    height: 137px;
    width: 150px;
  }

  .main-nav,
  .admin,
  .categories {
    display: inline-block;
    height: 72px;
    width: 33.5%;
    vertical-align: top;
    margin-right: -6px;
    border-style: none;
    border-right: 2px solid gray;
  }

  .main-nav article,
  .admin article,
  .categories article {
    height: 100px;

  }

.main-nav article ul,
  .admin article ul,
  .categories article ul {
    visibility: hidden;
  }

  h5 {
    font-size: 1.5rem;
    margin: 35% 0 0 0  ;
    text-align: center;
  }

  .categories h5 {
    font-size: 1.1rem;
    margin-top: 40%;
  }

.main-nav article:hover ul,
  .admin article:hover ul,
  .categories article:hover ul {
    visibility: visible;
    z-index: 3;
  }

  .main-nav:hover,
  .admin:hover,
  .categories:hover {
    height: 370px;
    z-index: 3;
    background-color: #780006;
  }

  header {
    left: 0;
    height: 60px;
    width: 100%;
  }

  header input {
    height: 60px;
    width: 50%;
  }

  header input::placeholder {
    font-size: 1rem;
  }

  header button {
    height: 60px;
    width: 12.6%;
  }

  main{
    top: 359px;
    left: 0;
    width: 100%;
  }

  .page-body {
    height: 2361px;
  }

  .page-nav {
    height: 300px;
  }

  .page-nav div {
    height: 329px;
  }

  .page-nav-header {
    height: 199px;
    width: 51%;
    margin: 6px 0 4px 0;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .page-nav-header p{
    font-size: 1rem;
    margin: 0 0 0 5px;
  }

  .page-nav-header li{
    font-size: 1rem;
    margin-left: 23px;
  }

  .page-nav-edit {
    width: 47%;
    height: 100px;
  }

  .page-nav-edit button{
    width: 15%;
    margin-left: 2px;
    height: 20px;
  }

  #open {
    border-radius: 37px;
  }

  .cycle-page-nav li {
    font-size: 0.5rem;
    margin-right: 2px;
    padding-bottom: 12px;
  }

  .data-display {
    height: 475px;
  }

  .donut-figure,
  .bar-graph {
    width: 100%;
  }

  .donut-figure {
    float: none;
    margin: 0;
    height: 216px;
  }

  .bar-graph {
    height: 247px;
  }

  .donut-figure figure,
  .bar-graph figure {
    height: 173px;
  }

  .donut-figure figcaption {
    margin-top: -7%;
  }

  #bar-graph {
    height: 156px;
  }

  #bar-graph::before {
    top: 75px;
    left: -27px;
    font-size: 0.8rem;;
  }

  #bar-graph::after {
    bottom: -18px;
    left: 108px;
    font-size: 0.8rem;
  }

  .bar {
    width: 6.2%;
  }

  hr {
    width: 43%;
  }

  [data-tooltip]::before {
    border-radius: 4px;
    width: 150px;
    padding: 8px 8px;
    font-size: 2rem;
  }

  [data-tooltip-position="top"]::before {
    left: -84%;
  }
}